* {
	margin: 0;
	padding: 0;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

}

#name {
	color: #2c3e50;
	font-weight: bold;
	font-size: 28px;
	width: 30%
}

input[type="text"] {
	border: none;
	border-bottom: 2px solid;
	outline: none;
	background: none;
	margin-bottom: 20px;
	font-size: 16px;
}

.todo-item .todo-content input {
	margin-left: 8px;
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: gray
}

.button {
	padding: 4px;
	margin-left: 5px;
	font-weight: bold;
	&:hover {
		cursor: pointer;
	}
}

.delete {
	color: red;
}
